{% extends 'base.html' %}
{% block title %}Página de Produtos{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="app-wrapper">	    
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">			    
            <div class="col-auto mt-5">
                <form class="docs-search-form row gx-1 align-items-center">
                    <div class="col-auto">
                        <input type="text"  name="search" class="form-control" placeholder="Busque produtos aqui">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn app-btn-secondary">Buscar</button>
                    </div>
                </form>							
            </div><!--//col-->
            <h1 class="app-page-title">Lista de Produtos </h1>
                <div class="row my-4">

                    <div class="col-md-2">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-md-10">
                        <table class="table bg-white">
                            <thead class="bg-info text-white">
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Preço ($)</th>
                                    <th scope="col">Atividades</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in product %}
                                <tr>
                                    <td><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></td>
                                    <td>{{ product.description|truncatewords:2 }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>
                                        <a class="btn btn-info btn-sm mr-2"
                                            href="{% url 'product:update' product.slug %}"><i class="fas fa-edit"></i></a>
                                        <a class="btn btn-danger btn-sm ml-2"
                                            href="{% url 'product:delete' product.id %}"><i class="fas fa-times"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!--//container-fluid-->
	    </div><!--//app-content-->	    
    </div><!--//app-wrapper-->  

{% endblock %}