<div class="footer container-fluid text-light col-12">
     <footer>
         <div class="row my-5 justify-content-center footer">
             <div class="col-11">
                 <div class="row ">
                     <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                         <h3 class="text-muted mb-md-0 mb-5 bold-text">Nunetec Assistência Técnica.</h3>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                         <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>MENU</b></h6>
                         <ul class="list-unstyled">
                             <li><a href=''>Home</a></li>
                             <li><a href='#'>Quem somos</a></li>
                             <li><a href='#'>Serviços</a></li>
                             <li><a href=''>Contato</a></li>
                         </ul>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                         <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ENDEREÇO</b></h6>
                         <p class="mb-1">Rua Guaracapá, 50  </p>
                         <p>Vila Nitro Operaria</p>
                     </div>
                 </div>
                 <div class="row ">
                     <div class="col-xl-6 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                     <h6 class="mt-55 mt-2 text-muted bold-text"><b>Site desenvolvido com <i class="fas fa-heart"></i> por :</b></h6><small> <span>
                        <i class="fa fa-envelope" aria-hidden="true"></i></span> marcusandrade.37@gmail.com</small>
                        <p class="social text-muted mb-0 pb-0 bold-text"> 
                        <span class="mx-2"><a class='text-muted' href='https://www.facebook.com/marcusviniciusf.ptt'><i class="fab fa-facebook-square"></i></a></span> 
                        <span class="mx-2"><a class='text-muted' href='https://www.linkedin.com/in/marcusviniciusfonsecap/'><i class="fab fa-linkedin"></a></i></span>                         
                        <span class="mx-2"><a class='text-muted' href='https://www.instagram.com/marcusvpissinatti/'><i class="fab fa-instagram"></i></a></span> 
                        </p>
                     
                     </div>
                     <div class="col-xl-3 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                        {% comment %} <p class="social text-muted mb-0 pb-0 bold-text"> 
                        <span class="mx-2">
                        <i class="fab fa-facebook-square"></i></span> 
                        <span class="mx-2"><i class="fab fa-linkedin"></i></span> 
                        <span class="mx-2"><i class="fab fa-twitter"></i></span>
                        <span class="mx-2"><i class="fab fa-instagram"></i></span> 
                        </p> {% endcomment %}
                        <small class="rights"><span>&#174;</span>
                           Nunetec - Todos os direitos reservados.</small></div>
                     <div class="col-xl-3 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                         <h6 class="text-muted bold-text"><b>E-mail Nunetec</b></h6><small><span>
                         <i class="fa fa-envelope" aria-hidden="true"></i></span> assistencianunetec@gmail.com</small>
                     </div>
                 </div>
             </div>
         </div>
     </footer>
 </div>